<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: beige;
    }
    
    form{
        text-align: center;
    }



</style>



    <form th:action="@{/pregunta1}" method="post">
		    <h1>PREGUNTAS DE F1</h1>

        <label for="nombre">Introduce tu nombre</label>
        <input type="text"  id="nombre" name="msg"></input>
        <input type="submit" value="Enviar" />
    </form>


</body>

</html>